{% extends "base" %}

{% block content %}
<h1>Dpb</h1>
<h2>A simple pastebin.</h2>
<p>The programming language of the snippet you typed is guessed by Pygments.
    You are not able to select by yourself.</p>
<form method="POST">
    {# {{ form.as_p }} #}
    <button type="submit">Submit</button>
</form>
<footer>Source code available at:
    <a href="https://github.com/cjc7373/dpb">https://github.com/cjc7373/dpb</a>
</footer>
{% endblock %}