{% extends "base.html" %}

{% block content %}
    <button class="a"><a href="/raw/{{ key }}/">raw</a></button>
    <style>
        {{ style }}
        {# FIXME: 这会使缩进产生问题.. #}
        {#span {#}
        {#    white-space: normal;#}
        {#}#}

        .linenos {
            user-select: none;
            display: inline-block;
            width: 20px;
        }

        button > a {
            text-decoration: none;
        }

        button.a {
            padding: 0;
            user-select: none;
        }
    </style>
    <code>
        {% autoescape off %}
            {{ code }}
        {% endautoescape %}
    </code>
{% endblock %}
