{% extends "base.html" %}

{% block content %}
    <a class="button" href="/raw/{{ key }}/">raw</a>
    <style>
        {{ style }}
        {# FIXME: 这会使缩进产生问题.. #}
        {#span {#}
        {#    white-space: normal;#}
        {#}#}

        .linenos {
            user-select: none;
            display: inline-block;
            width: 20px;
        }


        a.button {
            text-decoration: none;
            user-select: none;
            padding: 0;
            border: solid 1px;
            color: black;
            background-color: #e7e7e7;
        }

    </style>
    <code>
        {% autoescape off %}
            {{ code }}
        {% endautoescape %}
    </code>
{% endblock %}
